<div class="container">
  <h1 class="my-4">Orders</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Order Numer</th>
        <th scope="col">Oder Date</th>
        <th scope="col">Required Date</th>
        <th scope="col">Shipped Date</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.orderNumber }}</td>
        <td>{{ order.orderDate }}</td>
        <td>{{ order.requiredDate }}</td>
        <td>{{ order.shippedDate }}</td>
        <td>{{ order.status }}</td>
      </tr>
    </tbody>
  </table>

  <div class="row">

    <div class="col">
      <nav aria-label="...">
        <ul class="pagination pagination-sm justify-content-center">
        	<li *ngIf="selectedPage > 1" class="page-item">
            <a class="page-link" style="cursor: pointer"
              (click)="changePage(selectedPage -1)"
            >Previous</a>
          </li>
          <li 
            class="page-item"
            *ngFor="let page of pageNumbers"
            [class.active]="page == selectedPage"
          >
            <a
              class="page-link" style="cursor: pointer"
              (click)="changePage(page)"
            >
              {{ page }}
            </a>
          </li>
          <li *ngIf="!(selectedPage == pageNumbers.length)" class="page-item">
            <a class="page-link" style="cursor: pointer"
              (click)="changePage(selectedPage + 1)"
            >Next</a>
          </li>
        </ul>
      </nav>
    </div>

  </div>



</div>
